@import "tailwindcss";
@import "tw-animate-css";

@media () {

}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
  /* Optional: pause on hover */
  /* &:hover { animation-play-state: paused; } */
}